{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block content %}

<div class="tm-hero d-flex justify-content-center align-items-center" id="tm-video-container">
    <video autoplay muted loop id="tm-video">
        <source src="{% static 'video/hero.mp4' %}" type="video/mp4">
    </video>  
    <i id="tm-video-control-button" class="fas fa-pause"></i>
    <form class="d-flex position-absolute tm-search-form">
        <input class="form-control tm-search-input" type="search" placeholder="Search" aria-label="Search" name="search" value="{{ search_value }}">
        <button class="btn btn-outline-success tm-search-btn" type="submit">
            search
        </button>
    </form>
</div>

<div class="container-fluid tm-container-content tm-mt-60">
    <div class="row mb-4">
        <h2 class="col-12 tm-text-primary">{{ video.title }}</h2>
    </div>
    <div class="row tm-mb-90">            
        <div class="col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <video autoplay muted loop controls id="tm-video">
                <source src="{{ video.video.url }}" type="video/mp4">
            </video>  
        </div>
        <div class="col-xl-4 col-lg-5 col-md-6 col-sm-12">
            <div class="tm-bg-gray tm-video-details">
                <p class="mb-4">
                    Aliquam varius posuere nunc, nec imperdiet neque condimentum at. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Please support us by contributing <a href="https://paypal.me/templatemo" target="_parent" rel="sponsored">a small donation</a> via PayPal.
                </p>
                <div class="text-center mb-5">
                    <a href="{{ video.video.url }}" class="btn btn-primary tm-btn-big" download="download">Download</a>
                </div>                    
                <div class="mb-4 d-flex flex-wrap">
                    <div class="mr-4 mb-2">
                        <span class="tm-text-gray-dark">Resolution: </span><span class="tm-text-primary">{{ video.resolution }}</span>
                    </div>
                    <div class="mr-4 mb-2">
                        <span class="tm-text-gray-dark">Format: </span><span class="tm-text-primary">{{ video.format }}</span>
                    </div>
                    <div>
                        <span class="tm-text-gray-dark">Duration: </span><span class="tm-text-primary">{{ video.duration.tzname }}</span>
                    </div>
                </div>
                <div class="mb-4">
                    <h3 class="tm-text-gray-dark mb-3">License</h3>
                    <p>Free for both personal and commercial use. No need to pay anything. No need to make any attribution.</p>
                </div>
                <div>
                    <h3 class="tm-text-gray-dark mb-3">Tags</h3>
                    {% for tag in video.tags.all %}
                    <a href="#" class="tm-text-primary mr-4 mb-2 d-inline-block">Cloud</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <h2 class="col-12 tm-text-primary">
            Related Videos
        </h2>
    </div>
    <div class="row mb-3 tm-gallery">
        {% for video_detail in videos %}
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                <figure class="effect-ming tm-video-item">
                    <!-- <img src="img/img-01.jpg" alt="Image" class="img-fluid"> -->
                    <video src="{{ video_detail.video.url }}" class="img-fluid"></video>
                    <figcaption class="d-flex align-items-center justify-content-center">
                        <h2>{{ video_detail.title }}</h2>
                        <a href="{% url 'videos:detail' video_detail.pk %}">View more</a>
                    </figcaption>                    
                </figure>
                <div class="d-flex justify-content-between tm-text-gray">
                    <span class="tm-text-gray-light">{{ video_detail.created_at.date }}</span>
                    <span>12,460 views</span>
                </div>
            </div>
        {% empty %}
            <div class="tm-mt-60"><h1>Now Video</h1></div>
        {% endfor %}     
    </div> <!-- row -->
</div> <!-- container-fluid, tm-container-content -->

{% endblock %}